<p><input type="checkbox" disabled style="display: inline" {{#if todo.isComplete}} checked {{/if}}>name: {{todo.name}}</p>
<p>id: {{todo.id}}</p>
<a href="/todos/{{todo.id}}/edit">edit</a>
</ul>
<a href="/todos">Back</a>